body {
    background-color: #00ffea;
    font-family: Arial, sans-serif;
}
p {
    p {
        font-size: 18px; /*Ukuran font*/
        font-family: Arial, sans-serif;/*Jenis font*/
        text-align: center;/*Pengaturan teks menjadi tengahh*/
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.grid-item {
    background: lightblue;
    padding: 20px;
    text-align: center;
}